  
  .card {
    /* display: flex;
    flex-direction: row; */  
    border: 3.5px solid grey;
    border-radius: 10px;
    margin-left: auto;
      margin-right: auto;
    /* align-items: center; */
  }
  
  h3 {
    border: 1px solid red;
    text-align: center;
    font-family: 'Calistoga', regular;
  }
  
  .info-section-gender, .info-section-race{display: inline-block;}
  
  .info-section-age, .info-section-house{display: inline-block;}
  
  table{
    border: 1px solid black;
    border-radius: 10px;       

  }


  table thead img{
      width:50px;
      height:40px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  table thead td{
    font-family: 'Solway', serif;
    text-align: center;
  }

  
  /* GENDER TABLE   */

    
    .gender {
        margin-left:10px

    }
    
    .race {
        margin-left:5px

    }

    
    .age {
        margin-left:10px

    }
    
    .house {
        margin-left:5px

    }

    .genderBody tr:nth-child(1){
    background-color: #4240ff;
    
}

    .genderBody tr:nth-child(2){
        background-color: #ff5e73
    }


    
    tbody td{
        border: 1.5px solid grey;
        border-radius: 10px;
        text-align: center;
        font-family: 'Solway', serif;
        color: white
    
        }


    
        .raceBody td:nth-child(2),.raceBody td:nth-child(4){
            background-color: #4240ff;
            
        }

        .raceBody td:nth-child(1),.raceBody td:nth-child(3){
            background-color: #ff5e73
            
        }


        .ageBody tr td:nth-child(1){
            background-color: #4240ff;
            
        }

        .ageBody tr td:nth-child(2){
            background-color: #ff5e73
            
        }

        
        .houseBody tr td:nth-child(1),.houseBody tr td:nth-child(3){
            background-color: #4240ff;
            
        }

        .houseBody tr td:nth-child(2){
            background-color: #ff5e73
            
        }
   
/*         
        .raceBody tr:nth-child(2){
            background-color: #ff5e73
        }
     */
