body {
  /*outline: 0.1px black solid;*/
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 12px;
}

.selectionContainer {
  display: flex;
  padding-left: 250px
  /* outline: 0.1px black solid; */
}

/* 
.byState{
  outline: 0.1px black solid;
  
}

.byRace {
    outline: 0.1px black solid;
  padding-left: 250px
}

.bySex {
  outline: 0.1px black solid;
}

.byAge {
  outline: 0.1px black solid;
}

.byHousehold {
  outline: 0.1px black solid;
} */

.totalInput {
  outline: 0.1px black solid;
} 
  
.resultsContainer1 {
  outline: 0.1px black solid;
  display: flex;
  text-align: center;
}

.resultsContainer2 {
  outline: 0.1px black solid;
  display: flex;
  text-align: center;
}

.resultsContainer3 {
  outline: 0.1px black solid;
  display: flex;
  text-align: center;
}

.resultsContainer4 {
  outline: 0.1px black solid;
  display: flex;
  text-align: center;
}

.resultsStates {
  outline: 0.1px red solid;
  padding: 22.5px 0 0 0;
}

.resultsRaces {
  outline: 0.1px green solid;
}

.resultsSexes {
  outline: 0.1px blue solid;
}

.resultsAges {
  outline: 0.1px orange solid;
}

.resultsHousehold {
  outline: 0.1px black solid;
}

.plussign:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.map {
  display: flex;
  outline: 0.1px solid red;
}

#us-map{
  width: auto;
  height: auto;
}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}

#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}

#info-box { 
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  outline: .1px solid #BF0A30;
/*  outline-radius: 5px; */
  padding: 5px;
  font-family: arial;
}



.mainTitle{
  font-family: 'Calistoga', regular;
}

#icon_us{
  width:"50";
  height:"10"
}

.byRace{
  font-family: 'Open Sans', regular;
}

.bySex{
  font-family: 'Open Sans', regular;
}

.checkboxparent1{
  font-family: 'Open Sans'
}


.buttons{
  margin: auto;
  width: 200px

}
